<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Quickshare Fastify</title>
    <link rel="stylesheet" href="<%= BASE_URL %>styles/index.css">
  </head>
  <body>
    <h1><%= message %></h1>
  </body>
</html>